:root {
  font-family: "Rubik", sans-serif;
  line-height: 150%;

  --purple-clr: hsl(231, 69%, 60%);
  --white-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 0%);
  --grey-clr: hsl(229, 8%, 60%);
  --light-grey-clr: #f7f7f7;
  --dark-grey-clr: hsl(229, 31%, 21%);
  --red-clr: hsl(0, 94%, 66%);
  --padding-phone: 6vw;
  --padding-tablet: 8vw;
  --padding-laptop: 10vw;
  --padding-pc: 17vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
